.cardContainer {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.cardContainer:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.upprecontainer {
  height: 120px;
  position: relative;
}

.upprecontainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 120px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
}

.propic {
  /* margin-right: 20px; */
  justify-content: center;
  align-items: center;
  width: 120px;
}

.imageContainer img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.cardContent {
  margin: 1rem;
  margin-top: 0.5rem;
}

.cardBody h3 {
  margin: 0;
  padding: 0;
}

.cardBody p {
  margin: 0;
  padding: 0;
  color: rgb(105, 105, 105);
  column-width: auto;
  text-align: center;
}

.cardTitle {
  margin-bottom: 0.5rem;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btn button {
  padding: 0.5rem;
  background-color: white;
  border: none;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  border-radius: 3px;
}

.btn button:hover {
  background: rgba(27, 156, 252, 0.1);
  transform: scale(1.1);
}

a {
  text-transform: uppercase;
  color: #1b9cfc;
  text-decoration: none;
  font-weight: bold;
}

.imag {
  height: 40px;
  width: fit-content;
}

.mains {
  justify-content: center;
  display: flex;
  align-items: center;
}
