.title {
  color: rgb(119, 119, 119);
}

.packageContainer {
  display: flex;
  height: 140px;
  justify-content: center;
  /* align-items: center; */
}

.main {
  height: 100px;
  width: 600px;
  background-color: rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
box-shadow: 5px 5px 10px -5px;
border-radius: 10px;
}



.list button{
    background-color: white;
    border: none;
    cursor: pointer;
}